html {
  background: url(img/cosmos.jpg) no-repeat center fixed;
}

body {
  background: rgba(255, 255, 255, 0.8);
  width: 600px;
  padding: 25px 100px;
  margin: 25px auto;
  text-align: center;
  border-radius: 25px;
}
